* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', serif;
    scroll-behavior: smooth;
}

:root {
    --heading-small-color: #22aaff;
    --background-color: #FAFAFA;
    --text-color: #1b1b1b;
    --secondary-text-color: #97999b;
    --tertiary-text-color: #878787;
    --contrast-color: #ffffff;
    --border-color: rgba(255, 255, 255, 0.3);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--contrast-color);
    transition: 0.3s ease;
}

header, main {
    color: var(--contrast-color);
}

/* Navbar */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spanTitle {
    font-size: 30px;
    font-weight: 550;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

ul li {
    list-style: none;
}

/* Main */
main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    background-image: url(Images/mainimage.webp);
    background-size: cover;
    transition: 0.3s ease;
}

.border {
    border-radius: 0 0 40px 40px;
}

.caption {
    text-align: center;
    line-height: 1.3;
    font-size: 65px;
}

/* Explore */
.exploreBar {
    width: 700px;
    height: 70px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 76px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid var(--border-color);
    border-radius: 100px;
}

.exploreNav ul {
    gap: 60px;
}

.exploreNav ul li .button {
    padding: 10px 20px;
    border-radius: 100px;
    background-color: var(--contrast-color);
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s ease;
}

.exploreNav ul li .button:hover {
    opacity: 0.8;
}

/* Location */
.location {
    position: absolute;
    bottom: 30px;
    left: 30px;
    width: 570px;
}

.location .place,
.more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    border: 1px solid var(--contrast-color);
    border-radius: 100px;
}

.location .place {
    margin-bottom: 20px;
    width: fit-content;
    gap: 10px;
}

.location .place span {
    font-size: 13px;
    font-weight: 500;
}

.location span {
    font-size: 25px;
    font-weight: 200;
}

.more {
    position: absolute;
    bottom: 40px;
    right: 50px;
    font-size: 20px;
    gap: 10px;
    cursor: pointer;
}

.more:hover {
    background-color: var(--contrast-color);
    color: var(--text-color);
    svg {
        fill: var(--text-color);
        stroke: var(--text-color);
    }
}

/* About */
#about, #service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 75px 0;
    width: 100%;
    background-color: var(--background-color);
}

.aboutText {
    width: 600px;
    font-weight: 300;
}

.title {
    color: var(--heading-small-color);
    font-size: 20px;
    font-weight: 500;
}

.aboutText p {
    margin-top: 15px;
    font-size: 38px;
    span {
        color: var(--secondary-text-color);
    }
}

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 600px;
}

.box {
    padding: 0 40px;
}

.box:not(:last-child) {
    border-right: 1px solid var(--secondary-text-color);
}

.box span {
    font-size: 40px;
}

.box p,
.serviceText p {
    color: var(--tertiary-text-color);
}

/* Service */
#service {
    flex-direction: column;
    align-items: flex-start;
}

.serviceText h1 {
    font-size: 55px;
    font-weight: 300;
    margin: 15px 0 10px;
}

.serviceText p {
    font-size: 18px;
    margin-bottom: 40px;
}

.serviceGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin: auto;
    width: 100%;
}

.item {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    min-height: 270px;
    border-radius: 15px;
    padding: 20px;
    background-size: cover;
    background-position: bottom;
    color: var(--contrast-color);
    h2{
        font-size: 30px;
        font-weight: 400;
        margin-bottom: 10px;
    }
    p {
        font-size: 15px;
        font-weight: 300;
    }
}

.large {
    grid-row: span 2;
}

.item:nth-child(1) { background-image: url('./Images/destination.jpg'); }
.item:nth-child(2) { background-image: url('./Images/advice.jpg'); }
.item:nth-child(3) { background-image: url('./Images/support.jpg'); }