* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

:root {
    --heading-small-color: #3b99d4;
    --background-color: #FAFAFA;
    --text-color: #1b1b1b;
    --secondary-text-color: #97999b;
    --contrast-color: #ffffff;
    --border-color: rgba(255, 255, 255, 0.4);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
}

header, main {
    color: var(--contrast-color);
}

/* Navbar */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 50px;
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.spanTitle {
    font-size: 30px;
    font-weight: 550;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

ul li {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: var(--secondary);
    font-weight: 500;
    transition: 0.3s ease;
}

ul li a:hover {
    color: var(--tertiary);
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    background-image: url(Images/mainimage.webp);
    background-size: cover;
}

.caption {
    text-align: center;
    line-height: 1.3;
    font-size: 60px;
}

.exploreBar {
    width: 700px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid var(--border-color);
    border-radius: 100px;
}

.exploreNav ul {
    gap: 80px;
}

.exploreNav ul li .button {
    padding: 10px 20px;
    border-radius: 100px;
    background-color: var(--contrast-color);
    color: var(--text-color);
    font-weight: 500;
    transition: 0.3s ease;
}

.exploreNav ul li .button:hover {
    opacity: 0.8;
}