@import "tailwindcss";
@plugin "daisyui";

* {
  scroll-behavior: smooth;
}

:root {
  --background: #FAFAFA;
  --foreground: #1b1b1b;
  --accent: #22aaff;
  --secondary: #97999b;
  --tertiary: #878787;
  --contrast: #ffffff;
  --border: rgba(255, 255, 255, 0.3);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
  --color-contrast: var(--contrast);
  --color-border: var(--border);
}

@theme {
  --animate-logo-carousel: logo-carousel 30s linear infinite;
  --animate-review-carousel: review-carousel 50s linear infinite;
  --animate-review-carousel-reverse: review-carousel-reverse 50s linear infinite;

  @keyframes logo-carousel {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-50% - 2.125rem));
    }
  }

  @keyframes review-carousel {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-50% - 1rem));
    }
  }

  @keyframes review-carousel-reverse {
    0% {
      transform: translateX(calc(-50% - 1rem));
    }

    100% {
      transform: translateX(0);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

select {
  width: calc(1/4 * 100%);
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

#about,
#services,
#packages,
#questions,
#review {
  display: flex;
  padding: 7rem 5rem 0;
  width: 100%;
}

h1 {
  color: var(--accent);
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

h2 {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.gridItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  min-height: 17rem;
  padding: 1.25rem;


  h3 {
    font-size: 1.8rem;
    z-index: 1;
  }

  p {
    font-weight: 300;
    z-index: 1;
  }
}

.carousel {
  mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
}

.cardContainer {
  width: 100%;
  display: flex;
  gap: 1.25rem;

  &:hover .packageCard:nth-child(1) {
    flex-grow: 1;

    .buttonContainer {
      scale: 0;
    }
  }

  &:hover .packageCard:nth-child(1):hover {
    flex-grow: 2.3;

    .buttonContainer {
      scale: 1;
    }
  }
}

.packageCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 27rem;
  border-radius: 1rem;
  padding: 1.5rem;
  flex: 1;
  transition: 0.3s ease;

  &:nth-child(1) {
    flex-grow: 2.3;

    .buttonContainer {
      scale: 1;
    }
  }

  &:hover {
    flex-grow: 2.3;

    .buttonContainer {
      scale: 1;
    }
  }

  span,
  div {
    z-index: 1;
  }
}

.blurDiv {
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: calc(infinity * 1px);
  transition-duration: 200ms;
}

.packageButton {
  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.9);
    scale: 1.02;
  }

  &:active {
    scale: 0.98;
  }
}

@media (max-width: 1024px) {

  #about,
  #services,
  #packages,
  #questions,
  #review {
    flex-direction: column;
    padding: 8rem 1.5rem 0;
    gap: 4rem;
  }

  #packages {
    padding-top: 6rem;
    ;
  }

  h1 {
    font-size: 1.125rem;
  }

  h2 {
    font-size: 2.25rem;
  }

  .cardContainer {
    max-width: 50rem;

    &:hover .packageCard:nth-child(1) {
      .buttonContainer {
        scale: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  @keyframes logo-carousel {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-50% - 1rem));
    }
  }

  .gridItem {
    padding: 0.8rem;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.3rem;
    }

    p {
      font-size: 0.85rem;
    }
  }
}