@import "tailwindcss";

:root {
  --background: #FAFAFA;
  --foreground: #1b1b1b;
  --accent: #22aaff;
  --secondary: #97999b;
  --tertiary: #878787;
  --contrast: #ffffff;
  --border: rgba(255, 255, 255, 0.3);
}

@theme inline {
  --background: var(--background);
  --foreground: var(--foreground);
  --accent: var(--accent);
  --secondary: var(--secondary);
  --tertiary: var(--tertiary);
  --contrast: var(--contrast);
  --border: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
}

select {
  width: calc(1/4 * 100%);
  cursor: pointer;

  &:focus {
    outline: none;
  }
}