@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

:root {
  --background: #FAFAFA;
  --foreground: #1b1b1b;
  --accent: #22aaff;
  --secondary: #97999b;
  --tertiary: #878787;
  --contrast: #ffffff;
  --border: rgba(255, 255, 255, 0.3);
}

@theme inline {
  --background: var(--background);
  --foreground: var(--foreground);
  --accent: var(--accent);
  --secondary: var(--secondary);
  --tertiary: var(--tertiary);
  --contrast: var(--contrast);
  --border: var(--border);
}

@theme {
  --animate-infinite-carousel: infinite-carousel 30s linear infinite;

  @keyframes infinite-carousel {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-50% - 2.125rem));
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

select {
  width: calc(1/4 * 100%);
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

#about,
#services,
#packages {
  display: flex;
  padding: 6rem 5rem 0;
  width: 100%;
}

h1 {
  color: var(--accent);
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.75rem;
}

h2 {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.gridItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  min-height: 17rem;
  padding: 1.25rem;


  h3 {
    font-size: 1.8rem;
    margin-bottom: 0.6rem;
    z-index: 1;
  }

  p {
    font-size: 0.95rem;
    font-weight: 300;
    z-index: 1;
  }
}

.carousel {
  mask-image: linear-gradient(to right, transparent, white 10%, white 90%, transparent);
}

.cardContainer {
  display: flex;
  gap: 1.25rem;

  &:hover .packageCard:nth-child(1) {
    flex-grow: 1;
  }
  &:hover .packageCard:nth-child(1):hover {
    flex-grow: 3;
  }
}

.packageCard {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30rem;
  border-radius: 1rem;
  padding: 1.5rem;
  flex: 1;
  transition: 0.3s ease;

  &:nth-child(1) {
    flex-grow: 3;
  }

  &:hover {
    flex-grow: 3;
  }

  span,
  div {
    z-index: 1;
  }
}

@media (max-width: 1024px) {

  #about,
  #services,
  #packages {
    flex-direction: column;
    padding: 8rem 1.5rem 0;
    gap: 4rem;
  }

  #packages {
    padding-top: 6rem;
    ;
  }

  h1 {
    font-size: 1.125rem;
  }

  h2 {
    font-size: 2.25rem;
  }
}

@media (max-width: 768px) {
  @keyframes infinite-carousel {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(calc(-50% - 1rem));
    }
  }

  .gridItem {
    padding: 0.8rem;

    h3 {
      font-size: 1.5rem;
      margin-bottom: 0.3rem;
    }

    p {
      font-size: 0.85rem;
    }
  }
}